@font-face {
    font-family: Lit1;
    src: url(literata-regular.otf);
}

@font-face {
    font-family: Aller;
    src: url(Aller_Rg.ttf);
}
/*Make Content background solarized!*/
#content {
    background-color:#fdf6e3; color:#002b36 !important; 
}

/*Add specialized readable fonts to your pages :D*/
p {
    font-size: 19px;
    font-family: Lit1 !important ;
}

h1 {
    font-size: 2.4em;
    font-family: Lit1 !important;
    /*transition: all 1s ease-out 2s;*/
    /*transition: all .2s ease-in-out;*/

}

h2, h3, h4, h5, h6 {
     font-family: Lit1 !important;
}

img:hover {
     transform: scale(1.01);
}
article img, article video, article .flash-video {
    border: #ffe 0.1em solid;
}

h2:hover {
     /*transform: scale(1.1);*/
}
ul li {
    font-size: 19px;
    font-family: Lit1 !important ;
}

.term {
     /*color: red !important;*/
     padding: 2px ;
 }

.term:hover {
     transform: scale(1.1);
}

#content .blog-index a[rel="full-article"] {
    background: none; color:#002b36 !important; 
    border-radius: 50px;
    box-shadow: 5px 3px 8px #eee, inset 0px 2px 3px #fff;
    z-index: 1;
    border: 2.3px solid;
}

#content .blog-index a[rel="full-article"]:hover {
    background: none;
    color: #002b36 !important; 
    border: 3px solid;
    transform: scale(1.08);
}

body > nav a { 
    font-family: Aller !important ;
    color: #222;
}

body > nav a:visited { 
    color: #714;
}

body > nav ul li {
     /*text-shadow: 2px 1px 2px #ebebeb;*/
    color: black !important;
}


// Search Box means nice one
.search-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
}
.search-wrapper.active {}

.search-wrapper .input-holder {    
    height: 40px;
    width: 40px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}
.search-wrapper.active .input-holder {
    width: 450px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width:100%;
    height: 40;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}
.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}
.search-wrapper .input-holder .search-icon {
    width:30px;
    height:30px;
    border:none;
    border-radius:6px;
    background: transparent;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 20%
}
.search-wrapper.active .input-holder .search-icon {
    width: 30px;
    height:30px;
    margin: 5px;
    border-radius: 60px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(320deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute; 
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 8px;
    left: 10px;
    top: 17px;
    border-radius: 2px;
    background: #222;
}
.search-wrapper .input-holder .search-icon span::after {
    width: 12px;
    height: 12px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #222;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
    display: none;
   
}
.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
    display: block
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #222;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 19px;
    left: 7px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 19px;
    height: 5px;
    left: 0px;
    top: 7px;
}

body > nav form {
     width: 110px;
}

.search-wrapper.active .input-holder {
     width: 200px;
     right: 50%;
}

.search-wrapper .close {
     margin-top: -5px;
     right: 100px;
}

.search-wrapper.active .close {
     right: 10px;
     margin-top: -3px;
}

#tipue_search_input {
     background: none !important;
     border: none !important;
     padding: 0 !important;
     color: #ffd !important;
     font-family: Lit1 !important;
     margin-left: 20px !important;

}


@media only screen and (min-width: 550px) and (max-width: 990px) {
    .search-wrapper.active .input-holder {
        right: 100px;
    }

    .search-wrapper.active .close {
         right: 20px;
         margin-top:  -5px;
    }
}

@media only screen and (max-width: 549px) {
    .search-wrapper.active .input-holder {
         left: 220px;
    }

    .search-wrapper .input-holder {
        left: 300px;
    }
}
@media only screen and (max-width: 466px) {
    
    .search-wrapper.active .input-holder {
         left: 100px;
    }

    article header p {
         font-size: 0.7em;
    }
}


@media only screen and (max-width: 330px) {
    
    .search-wrapper.active .input-holder {
         left: 60px;
    }
    .search-wrapper .input-holder {
        left: 200px;
    }

    article header p {
         font-size: 0.5em;
    }
}

.decor1 {
     background-image: url('img/Decor1_bottom1.png');
     height: 30px;
     width: 100%;
}
