@font-face {
    font-family: Lit1;
    src: url(literata-regular.otf);
}

@font-face {
    font-family: Aller;
    src: url(Aller_Rg.ttf);
}
/*Make Content background solarized!*/
#content {
    background-color:#fdf6e3; color:#002b36 !important; 
}

/*Add specialized readable fonts to your pages :D*/
p {
    font-size: 22px;
    font-family: Lit1 !important ;
}

h1 {
    font-size: 2.6em;
    font-family: Lit1 !important;
    transition: all 0.3s ease-out 0s
    /*transition: all .2s ease-in-out;*/

}

h2, h3, h4, h5, h6 {
     font-family: Lit1 !important;
}

img:hover {
     transform: scale(1.02);
}

h2:hover {
     /*transform: scale(1.1);*/
}
ul li {
    font-size: 22px;
    font-family: Lit1 !important ;
}

.term {
     /*color: red !important;*/
     padding: 2px ;
 }

.term:hover {
     transform: scale(1.1);
}

#content .blog-index a[rel="full-article"] {
    background: none; color:#002b36 !important; 
    border-radius: 50px;
    box-shadow: 5px 3px 8px #eee, inset 0px 2px 3px #fff;
    z-index: 1;
    border: 2.3px solid;
}

#content .blog-index a[rel="full-article"]:hover {
    background: none;
    color: #002b36 !important; 
    border: 3px solid;
    transform: scale(1.08);
}

body > nav a { 
    font-family: Aller !important ;
}
body > nav form .search {
     padding: 3px; 
     z-index: 1;
     color: #00ee66;
}

body > nav ul li {
     /*text-shadow: 2px 1px 2px #ebebeb;*/
    color: black !important;
}


